@import '../../../Views/variables.scss';

.leftpane {
        padding-top: 20px;
        background-color: $headerColor;
        display: inline-block;
        height: 100%;
        position: fixed;
        width: 15%;
        ul {
            list-style: none;
            display: inline-flex;
            flex-direction: column;
            align-content: space-between;

            li {
                padding: 10px 20px 20px 20px;

                a {
                    color: $linkTextColor;
                }
            }
        }
    }