$familyFont: 'Roboto', sans-serif;
$headerHeight: 50px;
$mainColor: #f5eeee;
$headerColor: #3b5998;
$textColor: #3b5998;
$plainTextColor: #f8f8f8;
$linkTextColor: #f8f8f8;
$linkTextHoverColor: #3b5998;
$lineheight: 1.5em;
$mainThemeColor: #337ab7;
$menuItemColor: #4a4949;
$menuItemHoverColor: #462c2c;

$errorTextColor: #b22a2a;
$errorBackgroundColor: #fa7f69;

$formBackgroundColor: #cbc7c7;
$darkBackgroundColor: #191919;
