@{
    ViewData["Title"] = "Home Page";
}

<div class="dashboard">
    <div class="leftpane">
        @Html.Partial("Sidebar")
    </div>
    <div class="container main-content">
        @Html.Partial("Profile")
    </div>
</div>