@model Database.Entities.BoxUserProfile

<form asp-action="SaveProfile" novalidate>
    <input type="hidden" asp-for="Id" />
    @if (!Model.Active) {
    
        @Html.Partial("EditProfile",Model)
    }
    else
    {
       <span>@($"{Model.FirstName} {Model.LastName}")</span>
    }
</form>

